helloworld/src/main/mule/helloworld.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="72f2df6b-d394-43f2-976d-d975b90cf1b6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloworldFlow" doc:id="e71a6383-8381-433e-82b9-9731aa579462" >
		<http:listener doc:name="Listener" doc:id="329a477e-116b-4674-bf44-d2fbf4589349" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value='#[output application/json --- {"message" : "Hello World From Architecture Class"}]' doc:name="Set Payload" doc:id="c32aa7a6-3bbe-4092-bc8e-f8207e50599f" />
	</flow>
</mule>
